#grid{
    display: grid;
    height: 100%;
}

.visual-grid__container{
  width: calc(100% - var(--sidebarWidth));
  margin-left: 300px;
  height: 100%;
  background: var(--backgroundColor);;
  position: relative;
  overflow: auto;
}

.visual-grid__wrapper{
  height: 100%;
  width: 100%;
  padding: 20px
}

.visual-grid__items-grid, .visual-grid__cells{
  display: grid;
  width: 100%;
  height: 100%;
}

.visual-grid__item-drag-preview{
  position: fixed;
  z-index: 1180;
  background: hsl(19deg 94% 51% / 50%);
  cursor: move;
}

.visual-grid__actions-wrapper{
  position: absolute;
  z-index: 1160;
  display: flex;
  gap: 6px;
}

.visual-grid__cells{
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.visual-grid__item{
  position: relative;
  background: var(--itemsColor);
  color: hsl(0deg 0% 0% / 55%);

  display: flex;
  justify-content: center;
  align-items: center;
  /* Higher than a cell*/
  z-index: 1200;
}

.visual-grid__item-index{
  font-size: 3vw;
}


.visual-grid__wrapper:not(.visual-grid__resizing) .visual-grid__item:hover{
  cursor: move;
}

.visual-grid__wrapper:not(.visual-grid__resizing) .visual-grid__item.visual-grid__removing-items:hover{
  cursor: pointer;
}

.visual-grid__swapping .visual-grid__item-drag-preview,
.visual-grid__swapping .visual-grid__item:hover{
  cursor: pointer !important;
}

.visual-grid__wrapper:not(.visual-grid__resizing) .visual-grid__item:hover .visual-grid__resizing-handles{
  display: block;
}

.visual-grid__dragging-element{
  position: fixed;
}

.hide__item{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visual-grid__dragging .visual-grid__item-drag-preview .visual-grid__resizing-handles,
.visual-grid__resizing .visual-grid__item-drag-preview .visual-grid__resizing-handles{
  display: block;
}

.visual-grid__resizing-handles{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visual-grid__resizing-handles > div {
  width: 14px;
  height: 14px;
}

.visual-grid__resizing-handle__top-left{
  position: absolute;
  top: 9px;
  left: 10px;
  cursor: nwse-resize;
  transform: rotate(135deg);
}
.visual-grid__resizing-handle__top-right{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: nesw-resize;
  transform: rotate(225deg);
}
.visual-grid__resizing-handle__bottom-left{
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: nesw-resize;
  transform: rotate(45deg);
}
.visual-grid__resizing-handle__bottom-right{
  position: absolute;
  bottom: 9px;
  right: 10px;
  cursor: nwse-resize;
  transform: rotate(315deg);
}

.visual-grid__resizing-from-top-left{
  cursor: nwse-resize;
}
.visual-grid__resizing-from-top-right{
  cursor: nesw-resize;
}
.visual-grid__resizing-from-bottom-left{
  cursor: nesw-resize;
}
.visual-grid__resizing-from-bottom-right{
  cursor: nwse-resize ;
}

.visual-grid__cell{
  border: 1px dashed #60a5fa;
  z-index: 1100;
}

.visual-grid__cell-to-drop-over{
  border: 2px dashed #3b82f6;
}

.visual-grid__cell-pointer{
  cursor: pointer;
}

.visual-grid__resizing .visual-grid__action-button,
.visual-grid__dragging .visual-grid__action-button{
  visibility: hidden;
  opacity: 0;
}

.grid-item__resizing{
  transition: all 0.15s;
}

.grid-item__hidden{
  opacity: 0;
  pointer-events: none;
}

.visual-grid__remove-item {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}