:root{
    --itemsColor: #c8b6ff;
    --backgroundColor: hsl(300deg 100% 92% / 10%);
    --sidebarColor: hsl(221deg 100% 86% / 10%);

    --sidebarWidth: 300px;
}

html, body .app__container{
    height: 100%;
}

.app__container{
    display: flex;
}