:root{
    --brandColor: #c8b6ff;
    --itemsColor: hsl(255deg 100% 71% / 50%);
    --backgroundColor: hsl(300deg 100% 92% / 10%);
    --sidebarColor: hsl(221deg 100% 86% / 10%);

    --sidebarWidth: 280px;

    --headerHeight: 50px;
}

html, body .app__container{
    height: 100%;
}

body{
    background: red;
}

.app__container{
    display: flex;
}


@media screen and (max-width: 768px) {
    .app__container{
        display: block;
    }
}